:root {
  --background: #C4C4C4;
  --background-darker: #9E9E9E;
  --background-lighter: #DDDDDD;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background);
}

.qrcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.qrcode img {
  width: 100px;
  height: auto;
  border: 0 solid transparent;
  border-radius: 10px;
  transition: width 0.3s linear;
  margin-bottom: 4px;
}

.qrcode.expanded img {
  width: calc(100vw - 20px);
}
