:root {
  --background: #C4C4C4;
  --background-darker: #9E9E9E;
  --background-lighter: #DDDDDD;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background);
}

footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  padding: 12px 0 7px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--background-darker);
}

.qrcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.qrcode img {
  width: 100px;
  height: auto;
  border: 0 solid transparent;
  border-radius: 10px;
  transition: width 0.3s linear;
  margin-bottom: 4px;
}

.qrcode.expanded img {
  width: calc(100vw - 20px);
}

.propertyList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.propertyRow {
  width: calc(100vw - 20px);
  background: var(--background-lighter);
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  padding: 6px 6px 8px 6px;
}

.propertyRow-label {
  font-size: 14px;
}

.propertyRow-value {
  font-size: 24px;
  margin: 2px 5px 0px 5px;
}